// component background
$white: #F9F9F8;
// borders
$light_gray: #99A8B6;
// nav color
$light_blue: #6f7ca5;
// text color
$gray_blue: #7c849c;
// background main
$dark_blue: #162547;

$contrast_1: #ecff99;
$contrast_2: #93ffbe;
$contrast_3: #82ffeb;