* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#whole_container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
}
#whole_container #nav {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100vh;
}
#whole_container #body {
  z-index: 0;
  grid-column-start: 3;
  grid-column-end: 12;
  max-height: 100vh;
  overflow-y: scroll;
}
#whole_container #body #scroll_anchor {
  position: relative;
  top: -200px;
  border: 2px solid red;
  width: 20px;
  height: 20px;
}

@media (max-width: 800px) and (orientation: portrait) {
  #whole_container #nav {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100vw;
  }
  #whole_container #nav .fa_menu_bars {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    color: #6f7ca5;
  }
  #whole_container #nav .fa_menu_bars:hover {
    cursor: pointer;
  }
  #whole_container .show {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    left: 0;
  }
  #whole_container .hidden {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    left: -100vw;
  }
  #whole_container .hidden #navbar .fa_menu_bars {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    color: #162547;
    z-index: 100;
  }
  #whole_container #body {
    grid-column-start: 1;
    grid-column-end: 12;
  }
}
@media (orientation: landscape) and (max-width: 800px) {
  #whole_container #nav {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100%;
  }
  #whole_container #nav .fa_menu_bars {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    color: #6f7ca5;
  }
  #whole_container #nav .fa_menu_bars:hover {
    cursor: pointer;
  }
  #whole_container .show {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    left: 0;
  }
  #whole_container .hidden {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    left: -100%;
  }
  #whole_container .hidden #navbar .fa_menu_bars {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    color: #162547;
    z-index: 100;
  }
  #whole_container #body {
    grid-column-start: 1;
    grid-column-end: 12;
  }
}

/*# sourceMappingURL=app.css.map */
