@import "./_mixins.scss";
@import "./_variables.scss";
#navbar_link{
  @include flex_center_row;
  @include border_radius(5px);
  width: 90%;
  height: 50px;
  margin: 10px;
  background: $dark_blue;
  color: $light_blue;
  border: 2px solid $light_gray;
  text-decoration: none;
  letter-spacing: 5px;;
  &:hover{
    color: $dark_blue;
    background: $light_blue;
    @include transition(0.3s);
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

#regular_link{
  width: 150px;
  height: 40px;
  background: $light_blue;
  border: 2px solid $light_gray;
  @include border_radius(5px);
  @include transition(0.5s);
  a{
    @include flex_center_col;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $dark_blue;
    letter-spacing: 2px;
    &:hover{
      background: $dark_blue;
      color: $light_blue;
      @include transition(0.5s);
    }
  }
}

@media (max-width: 800px) {
  #navbar_link{
    width: 100%;
  }
}